
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/trending">
            <img alt="FilmCult" src="../../public/assets/titleIcon.svg" class="d-inline-block align-top" id="logo">
        </a>
        <div class="collapse navbar-collapse" id="navBar Supported Content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/trending">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navBarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navBarDropdown">
                        <li><a class="dropdown-item" href="/posts/createPostPage" id="postLink">Create Post</a></li>
                        <li><a class="dropdown-item" href="/movies/create" id="movieLink">Create Movie</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>
            </ul>
            <div class="d-flex" href="/user">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navBarUserDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img alt="User Profile" src="../../public/assets/userIcon.svg">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navBarUserDropdown">
                        <li><a class="dropdown-item" href="/users" id="userLink">User Profile</a></li>
                        <li><a class="dropdown-item" href="/logout" id="logoutLink">Log Out</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>

</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="/posts/edit/{{post._id}}"><button>Edit Post</button></a>
            <a href="/posts/delete/{{post._id}}"><button>Delete Post</button></a>
        </div>
        <div class="col-md-6">
            <div class="post">
                <h2>{{post.postTitle}}</h2>
                <h6>By <a href="/users">user</a> on movie <a href="/movies/detail/{{movie._id}}">{{movie.title}}</a>
                </h6>
                <h5></h5>
                <p class="postBody">{{post.postBody}}</p>
                <p>{{post.postLikes}}</p>
                <p>{{post.postDislikes}}</p>
                <div><img alt={{post.postTitle}} src={{post.postImage}}></div>
            </div>

            <div>
                <div>
                    {{#each comments}}
                    <div class="container">
                        <div class="col-md">
                            <div class="commentClass">
                                <h6>{{this.userName}}</h6>
                                <p>{{this.body}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <form action="/comments" method="POST" class="createComment">
                    <label id="titleLabel">
                        <input type="text" name="commentBody" title="body">
                    </label>
                    <input type="hidden" name="postID" value={{post._id}} />
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="movies">
                <h5>{{movie.title}}</h5>
                <div><img id="postPageImg" src={{movie.image}} alt={{movie.title}}></div>
                <div>
                    <p>{{movie.description}}</p>
                    <a href="/movies/{{post.postMovieId}}">See all Posts about {{movie.title}} here</a>
                </div>
            </div>
        </div>
    </div>
</div>