<a href="/trending"><img alt="FilmCult" src="../../public/assets/titleIcon.svg" class="logo"></a>
<div>
    <h1>Post Page</h1>
    <div class="post">
        <h2>{{post.postTitle}}</h2>
        <p class="postBody">{{post.postBody}}</p>
        <p>{{post.postLikes}}</p>
        <p>{{post.postDislikes}}</p>
        <div><img alt={{post.postTitle}} src={{post.postImage}}></div>
        <div </div>
            <h3>Description of Movie of Post</h3>
            <div class="movies">
                <h5>{{movieOfPost.title}}</h5>
                <div><img src={{movieOfPost.image}} alt={{movieOfPost.title}}></div>
                <div>
                    <p>{{movieOfPost.description}}</p>
                </div>
            </div>
            <div>
                {{#each allComments}}
                <div class="comments">
                    <h6>{{comment.userName}}</h6>
                    <p>{{comment.body}}</p>
                </div>
                {{/each}}
            </div>

            <form action="/comments" method="POST" class="createComment">
                <label id="titleLabel">
                    <input type="text" title="body">
                </label>
                <button type="submit">Add Comment</button>
            </form>
        </div>