<a href="/trending"><img alt="FilmCult" src="../../public/assets/titleIcon.svg" id="logo"></a>
<div>
    <h1>Post Page</h1>
    <div class="post">
        <h2>{{post.postTitle}}</h2>
        <p class="postBody">{{post.postBody}}</p>
        <p>{{post.postLikes}}</p>
        <p>{{post.postDislikes}}</p>
        <div><img alt={{post.postTitle}} src={{post.postImage}}></div>
    </div>
    <div>
        <h3>Description of Movie of Post</h3>
        <div class="movies">
            <h5>{{movie.title}}</h5>
            <div><img src={{movie.image}} alt={{movie.title}}></div>
            <div>
                <p>{{movie.description}}</p>
            </div>
        </div>
        <div>
            {{#each comments}}
            <div class="comments">
                <h6>{{this.userName}}</h6>
                <p>{{this.body}}</p>
            </div>
            {{/each}}
        </div>

        <form action="/comments" method="POST" class="createComment">
            <label id="titleLabel">
                <input type="text" name="commentBody" title="body">
            </label>
            <input type="hidden" name="postID" value={{post._id}} />
            <button type="submit">Add Comment</button>
        </form>
    </div>
    {{!--
    <script>
        function getURL() {
            return document.URL;
        }
    </script> --}}